.heading-primary {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 2.5rem;
}

.container {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 2rem;
  margin: 3rem 6rem;
  justify-items: center;
  align-items: center;
}

.color-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  background-color: #fff;
  border: 0.1px solid #000;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
}

.color-box__code {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  padding: 1rem;
  border: 0.1px solid #000;
  border-radius: 8px;
}

.color-box__code:hover {
  background-color: #000;
  color: #fff;
}
